@import '../../styles/vars';

.blog {
	padding-top: 60px;

	&__inner{
		display: flex;
		justify-content: space-between;
	}

	&__category {
		margin-bottom: 36px
	}
	
	&__category-title{
		@extend %title-font;
		margin-bottom: 16px;
		line-height: 23px;
	}

	&__category-item {
		margin-bottom: 12px;
	}

	&__category-link {
		color: $forged-steel;
		transition: all 0.3s ease-in-out;

		&:hover{
			color: $space-explorer;
		}
	}

	&__tags{
		margin-bottom: 50px;
	}
	
	&__tags-title {
		margin: 50px 0 16px;
		line-height: 23px;
	}

	&__tags-link{
		color: $poplar;
		font-size: 14px;
		font-weight: 600;
		padding: 0 16px;
		margin-bottom: 10px;
		margin-right: 10px;
		display: inline-block;
		border: 1px solid rgba($poplar, 0.7);
		border-radius: 14px;
		transition: all 0.3s ease-in-out;

		&:hover{
			color: $space-explorer;
			border-color: $blue-elemental;
		}
	}

	&__social {
		display: flex;
		margin-bottom: 70px;
	} 

	&__social-item {
		margin-right: 20px;
	}
	
	&__social-link {
		font-size: 17px;
		color: $bg-emerald-forest;
		transition: all 0.3s ease-in-out;

		&:hover{
			color: $space-explorer;
		}
	}

	&__items{
		width: 730px;
	}

	&__item{
		margin-bottom: 80px;
	}

	&__item-img{
		width: 100%;
		height: 415px;
		object-fit: cover;
	}

	&__item-info{
		padding: 25px 0 10px;
		font-weight: 600;
		font-size: 14px;
		color: $dugong;

		a{
			color: inherit;
		}
	}

	&__item-title{
		font-size: 20px;
		line-height: 28px;
		margin: 10px 0;
	}	

	&__blockquote{
		background-color: $whitesmoke;
		margin-bottom: 50px;
		padding: 54px 64px;
		font-weight: 300;
		font-style: italic;
		font-size: 24px;
		line-height: 38px;
		text-align: center;
		border-top: 1px solid $kingly-cloud;
		border-bottom: 1px solid $kingly-cloud;
	}

	&__blockquote-author{
		@extend %title-font;
		color: $dugong;
		font-size: 16px;
		line-height: 22px;
		padding-top: 23px;
		margin-top: 23px;
		font-style: normal;
		position: relative;

		&::before{
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			height: 2px;
			background-color: $kingly-cloud;
			border-radius: 1px;
			width: 200px;
			margin: 0 auto;
		}
	}

	&__item-popup{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: rgba($pirate-black, 0.6);
		transition: all 0.4s ease-in-out;

		&:hover{
			color: rgba($space-explorer, 1);
		}
	}
}

.aside {
	width: 350px;
	margin-left: 30px;

	&__search {
		position: relative;
		margin-bottom: 40px;
	}

	&__search-input {
		padding: 6px 55px 6px 18px;
		border: 1px solid rgba($poplar, 0.7);
		border-radius: 20px;
		width: 100%;

		&:focus{
			outline: 0;
			border-color: $space-explorer;
		}

		&::placeholder{
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			font-size: 14px;
			line-height: 27px;
			color: $charmed-chalice;
		}
	}

	&__search-btn {
		position: absolute;
		top: 12px;
		right: 15px;

		&:hover{
			.aside__search-icon{
				color: $poplar;
			}
		}
	}

	&__search-icon{
		font-size: 20px;
		color: $space-explorer;
		transition: all 0.3s ease-in-out;
	}
}

.article-popup{
	&__box{
		position: relative;
	}
}

// slider
.slick-arrow{
	font-size: 40px !important;
	margin: 0px !important;
	padding: 0px !important;
}

.slick-prev{
	position: absolute;
	z-index: 100;
	margin: 0px !important;
	padding: 0px !important;
	left: 0px !important;
}

.slick-next{
	position: absolute;
	z-index: 100;
	margin: 0px !important;
	padding: 0px !important;
	right: 20px !important;
}

.slick-prev:before, .slick-next:before{
	color: $space-explorer !important;
}

.article-slider__img{
	padding: 0 10px
}

.recent-posts {
	&__title {
		@extend %title-font;
		margin-bottom: 24px;
		line-height: 23px;
	}

	&__item {
		margin-bottom: 11px;
	}

	&__item-title {
		 color: $forged-steel;
		 display: block;

		 &:hover{
			color: $space-explorer;
		}
	}

	&__date,
	&__author{
		color: $charmed-chalice;
		font-size: 14px;
	}

	&__author:hover{
		color: $space-explorer;
	}
}

.article-slider__img{
	max-width: 730px;
	max-height: 415px;
	object-fit: cover;
}

// pagination
.pagination{
	display: flex;
	align-items: center;
	justify-content: center;

	&__arrow {
		margin: 0 6px;
		transform: translateY(3px);
		color: $pirate-black;
	}

	&__arrow--disabled {
		opacity: 0;
		pointer-events: none;
	}

	&__list {
		display: flex;
	}

	&__list-item {
		margin: 0 6px;
	}

	&__list-num {
		font-weight: 600;
		font-size: 14px;
		color: $dugong;
	}

	&__list-num--active {
		color: $pirate-black;
	}
}

// single blog component
.blog-article{

	&__links{
		padding: 40px 0 32px;
		border-top: 1px solid $kingly-cloud;
		border-bottom: 1px solid $kingly-cloud;
		display: flex;
		justify-content: space-between;
		margin-bottom: 35px;
	}

	&__link{
		width: 243px;
		color: $dugong;
		font-size: 14px;
		font-weight: 600;
		position: relative;
	}

	&__link-prev{
		padding-left: 44px;

		svg{
			position: absolute;
			font-size: 40px;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
	}

	&__link-next{
		padding-right: 44px;
		text-align: right;

		svg{
			position: absolute;
			font-size: 40px;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
		}
	}

	&__comments-title{
		font-size: 20px;
		line-height: 31px;
		margin-bottom: 15px;
	}

	&__comments-item{
		display: flex;
		justify-content: space-between;
		align-items: start;
		margin-bottom: 40px;
	}

	&__comments-avatar{
		width: 64px;
		height: 64px;
		object-fit: cover;
		margin-right: 13px;
	}

	&__reply{
		margin-left: 5px;
		font-size: 14px;
		font-weight: 600;
		color: $dugong;
		transition: all 0.3s ease-in-out;

		&:hover{
			color: $space-explorer;
		}
	}

	&__comments-name{
		@extend %title-font;
		line-height: 23px;
	}

	&__comments-date{
		margin-bottom: 10px;
		font-size: 14px;
		color: $charmed-chalice;
	}	

	&__form {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 60px;
	}

	&__form-title {
		margin-bottom: 25px;
		line-height: 23px;
	}

	&__form-textarea {
		width: 100%;
		border: 1px solid $poplar;
		padding: 14px 17px;
		border-radius: 24px;
		min-height: 125px;
		resize: none;
		margin-bottom: 12px;

		&:focus{
			border: 0;
			outline: 1px solid $space-explorer;		
		}

		&::placeholder{
			color: $charmed-chalice;
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			font-size: 16px;
			line-height: 27px;
		}
	}

	&__form-input {
		border: 1px solid $poplar;
		border-radius: 20px;
		padding: 6px 17px;
		margin-bottom: 20px;
		width: 48%;

		&:focus{
			border: 0;
			outline: 1px solid $space-explorer;		
		}

		&::placeholder{
			color: $charmed-chalice;
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			font-size: 16px;
			line-height: 27px;
		}
	}

	&__form-label {
		width: 100%;
		margin-bottom: 20px;
		font-size: 14px;
		color: $charmed-chalice;
		display: flex;
		align-items: center;
		padding-left: 40px;

		i{
			font-style: normal;
			cursor: pointer;

			&:hover{
				color: $poplar;
			}
		}
	}

	&__form-labelinput {
		position: absolute;
		width: 1px;
		height: 1px;
		overflow: hidden;
		clip: rect(0 0 0 0);
	}

	&__form-check{
		position: absolute;
		width: 17px;
		height: 17px;
		border: 1px solid $poplar;
		border-radius: 4px;
		margin-left: -40px;
		cursor: pointer;
	}

	&__form-labelinput:checked + .blog-article__form-check{
		border-color: $space-explorer;
	}

	&__form-labelinput:focus + .blog-article__form-check{
		border: 0px;
		box-shadow: 0 0 0 1px $space-explorer;
	}

	&__form-checkmark{
		position: absolute;
		width: 20px;
		height: 20px;
		margin-left: -40px;
		margin-bottom: 4px;
		color: $blue-elemental;
	}

	&__form-btn{
		color: #ffffff;
		background-color: $poplar;
		font-weight: 600;
		padding: 8px 60px;
		border-radius: 21px;
		transition: all 0.3s ease-in-out;

		&:hover{
			color: $bg-friendly-frost;
			background-color: $bg-emerald-forest;
		}

		&:active{
			position: relative;
			top: 2px;
		}
	}

}