%title-font{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

$whitesmoke: #f5f5f5;
$kingly-cloud: #dfdfdf;
$charmed-chalice: #a1a1a1;
$dugong: #707070;
$forged-steel: #5a5a5a; //default text color
$pirate-black: #363838; // for titles

$space-explorer: #164699;
$blue-elemental: #548df0;

$bg-emerald-forest: #222f46;
$bg-friendly-frost: #fffebf;