@import '../../styles/vars';

.breadcrumbs {
	background-color: rgba($kingly-cloud, 0.8);
	padding: 13px 14px;
	position: relative;
	z-index: 133;

	&__list {
		display: flex;
	}

	&__item:not(:last-child)::after {
		content: "/";
		margin-right: 6px;
	}
	

	&__link {
		font-size: 14px;
		color: $forged-steel;
	}
}